.futbolYa{
    background: url("img/futbolfondo1.jpeg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.todo{
  display: none;
}
.tit{
  text-align: center;
  padding-top: 10%;
  font-size:110px;
  color:rgba(73, 255, 0, 0.8);
  font-weight: bold;
}
.subTit{
  padding-top: 10%;
  color:rgba(250, 250, 250, 0.9);
  text-align: justify;
  font-weight: bold;
}
.baja
{
  padding-top: 2.5%;
  font-size: 20px;
  text-align: center;
  color:white;
}
.loading{
  text-align: center;
  color: grey;
}
#centro{
  padding-top: 20%;
}
.derecha{
  padding-top: 2.5%;
  text-align: right;
  color:rgba(73, 255, 0, 0.7);
  font-size: 30px;
  font-weight: bold;
}

.localidad{
  background-color: rgb(61,60,60);
}

.primero{
  padding-top:8%;
  text-align: center;
  font-style: oblique;
  color:white;
}

.btn-group{
  padding-top:5%;
  padding-left: 35%;
}
